/* HEADER */

header{
    height: 80px;
    background-color: #f8f9fa;
}

.navbar-header{
    background-color: white;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: white;
}

/* WRAPPER */

.wrapper{
    height: calc(100vh - 80px);
    display: flex;
}

/* SIDEBAR */

.sidebar{
    flex-basis: 50px;
    flex-grow: 0;
    flex-shrink: 0;
    height: 100%;
    background-color: black;
    background-image: url(../img/sidebar-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.sidebar .icon{
    display: none;
}

/* MAIN */

main{
    flex-grow: 1;
    flex-shrink: 1;
    overflow: auto;
}

/************************/
/***    RESPONSIVE    ***/
/************************/

@media screen and  (min-width: 992px) {
    .sidebar{
        flex-basis: 200px;
    }

    .sidebar .icon{
        display: inline;
    }
}

/*#ff8f00 COLOR ORANGE*/