/* HEADER */

.page-header{
    height: 50px;
    background-color: #f8f9fa;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.dropdown .fa-bell{
    color: #ff8f00;
}

/* WRAPPER */

.wrapper{
    height: calc(100vh - 50px);
    display: flex;
}

/* SIDEBAR */

.sidebar{
    flex: 0 0 50px;
    height: 100%;
    background-color: black;
    background-image: url(../img/sidebar-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.sidebar .icon{
    display: none;
}

/* MAIN */

main{
    flex: 1 1 auto;
    overflow: auto;
}

/************************/
/***    RESPONSIVE    ***/
/************************/

@media screen and  (min-width: 425px) {
    
    .desktop{
        display: none;
    }

    .navbar-icons{
        display: none;
    }
}

@media screen and  (min-width: 992px) {
    .sidebar{
        flex-basis: 200px;
    }

    .sidebar .icon{
        display: inline;
    }

    .mobile{
        display: none;
    }

    .desktop{
        display: block
    }

    .navbar-icons{
        display: inline;
    }
}