/* HEADER */

.page-header{
    height: 50px;
    background-color: #f8f9fa;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}

.dropdown .fa-bell{
    color: #ff8f00;
}

.form-control{
    font-size: 12px;
}

.form-control:focus{
    box-shadow: none;
}

/* WRAPPER */

.wrapper{
    height: calc(100vh - 50px);
    display: flex;
}

/* SIDEBAR */

.sidebar{
    flex: 0 0 50px;
    height: 100%;
    background-color: black;
    background-image: url(../img/sidebar-bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.sidebar .icon{
    display: none;
}

/* MAIN */

main{
    flex: 1 1 auto;
    overflow: auto;
}

/* HEADER MAIN */

.header-main{
    background-color: #1b72e8;
    color: white;
}

.nav-pills .nav-link.active{
    background-color: #165bba;
    border-radius: 40px;
    font-size: 10px;
    padding: 5px;
}

/************************/
/***    RESPONSIVE    ***/
/************************/

@media screen and  (min-width: 425px) {
    
    .desktop{
        display: none;
    }

    .navbar-icons{
        display: none;
    }

    .nav-pills.dn li:nth-last-child(-n+3){
        display: none;
    }
}

@media screen and  (min-width: 992px) {
    .sidebar{
        flex-basis: 200px;
    }

    .sidebar .icon{
        display: inline;
    }

    .mobile{
        display: none;
    }

    .desktop{
        display: block
    }

    .navbar-icons{
        display: inline;
    }

    .nav-pills.dn li:nth-last-child(-n+3){
        display: block;
    }

    .nav-pills.dn li:nth-child(3) {
        display: none;
    }
}